<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Smart Structural Health Monitor</title>
  <link href="{{url_for( 'static', filename = 'style.css')}}" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>Smart Structural Health Monitor</h1>

    <p class="guidance-text">
      Please upload an Excel file with the following columns:<br>
      <strong>Date, Time (sec), Acceleration (m/sec<sup>2</sup>)</strong>
    </p>

    <div class="image-row">
      <div class="image-block">
        <p class="label green">✅ Correct Format</p>
        <img src="{{ url_for( 'static', filename = 'Correct.png') }} " alt="Correct Format">
      </div>
      <div class="image-block">
        <p class="label red">❌ Wrong Format</p>
        <img src="{{ url_for( 'static', filename = 'Wrong.png') }}" alt="Wrong Format">
      </div>
    </div>

    <form id="upload-form" action="/upload" method="POST" enctype="multipart/form-data" onsubmit="showWaitMessage()">
      <div class="form-group">
        <label for="code-dropdown">Choose Code:</label>
        <select name="code" id="code-dropdown">
          <option value="ISO2372">ISO 2372: Vibration Severity (Machines)</option>
          <option value="DIN4150">DIN 4150-3: Structural Vibration Limits</option>
          <option value="BS7385">BS 7385-2: Ground Vibration Damage</option>
          <option value="NCHRP">NCHRP: Highway Vibration Criteria</option>
          <option value="FFT_ANALYSIS">FFT Threshold: Natural Frequency</option>
          <option value="IS2974_RECIPROCATING">IS 2974 (Part 1): Reciprocating Machines</option>
          <option value="IS2974_ROTARY_MED_HIGH">IS 2974 (Part 3): Rotary Machines (Med/High Freq)</option>
          <option value="IS2974_ROTARY_LOW">IS 2974 (Part 4): Rotary Machines (Low Freq)</option>
          <option value="IS2974_IMPACT">IS 2974 (Part 5): Impact Machines</option>
          <option value="IS1893_GENERAL">IS 1893 (Part 1): Earthquake Design - Buildings</option>
          <option value="IS1893_INDUSTRIAL">IS 1893 (Part 4): Earthquake Design - Industrial</option>
          <option value="ISO4866">ISO 4866: Building Vibration Guidelines</option>
        </select>
      </div>

      <label for="file-upload" class="upload-btn">UPLOAD EXCEL FILE</label>
      <input type="file" id="file-upload" name="file" accept=".xls,.xlsx" onchange="document.getElementById('upload-form').submit();" hidden>
    </form>
    
    
  </div>
  <footer class="footer-bar">
    <p>Made by <strong>Samprit Saha</strong></p>
    </footer>
  <div id="status-bar" style="display:none;" class="status-bar">⏳ Uploading and Processing File...</div>
</body>
</html>